@media screen and (max-width: 1580px) {
    :root {
        font-size: 8px;
    }

}

@media screen and (max-width: 1280px) {
    :root {
        font-size: 6px;
    }

}

@media screen and (max-width: 991px) {

    /* -- PAGE-1 ---------------------------------------------------------------------- */

    .page-1 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .page-1>.p1-img {
        order: 1;
        max-width: 45%;
    }

    .four-img {
        width: 100%;
        min-height: 75.56vh;
        height: auto;
        order: 2;
        row-gap: 20px;
    }

    .page-1 .p1-img {
        max-height: 75.56vh;
        text-align: center;
    }

    /* -- PAGE-2 ---------------------------------------------------------------------- */

    .page-2 {
        flex-direction: column;
    }

    .bgd-img {
        order: 1;
    }

    .circles-container {
        order: 2;
        margin: 0 auto;
        min-height: 88.06vh;
    }

    /* -- PAGE-3 ---------------------------------------------------------------------- */

    .team-container {
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 8vh;
    }

    .team-unit {
        width: calc(75vh * 0.58);
        height: 75vh;
    }

    .push {
        display: block;
    }

    .unit-name {
        font-size: 6.2rem;
    }

    /* -- PAGE-4 ---------------------------------------------------------------------- */

    .page-4 {
        flex-direction: column;
        align-items: center;
        padding-top: 3.75vh;
    }

    .msg-container {
        width: 100%;
        height: 88.06vh;
        justify-content: space-evenly;
    }

    .msg-form {
        width: 100%;
    }

    .msg-title {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    iframe {
        width: 100%;
    }

}










@media screen and (max-width: 767px) {

    /* -- HEADER ---------------------------------------------------------------------- */

    .big-nav {
        display: none;
    }

    .nav-mobile {
        min-width: 100px;
        height: 11.94vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: var(--white);
        font-size: 6rem;
    }

    .list-menu {
        transform: translateY(11.94vh);
    }

    #btn-menu+label {
        display: inline-block;
    }

    #btn-menu+label+.list-menu {
        display: none;
    }

    #btn-menu:checked+label+.list-menu {
        display: block;
    }

    /* -- PAGE-1 ---------------------------------------------------------------------- */

    .page-1 {
        flex-direction: column;
        gap: 10px;
    }

    .page-1>.p1-img {
        order: 1;
    }

    .page-1>.left {
        animation: mediaLeft1 1s linear 1;

    }

    .page-1>.right {
        animation: mediaRight1 1s linear 1;

    }

    .four-img {
        width: 100%;
        order: 2;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }

    .page-1 .p1-img {
        max-width: 100%;
        max-height: 75.56vh;
        text-align: center;
    }

    /* -- PAGE-2 ---------------------------------------------------------------------- */
    .page-2 {
        min-height: auto;
        justify-content: center;

    }

    .circles-container {
        width: min(100vw, 88.06vh);
        height: auto;
        padding-right: 2.45vw;
    }

    .bgd-img {
        display: none;
    }

    .circle-title {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    /* -- PAGE-3 ---------------------------------------------------------------------- */

    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .push {
        display: none;
    }

    .team-unit {
        width: 100%;
    }

    /* -- PAGE-4 ---------------------------------------------------------------------- */

    iframe {
        height: 88.06vh;
        order: 1;
    }

    .msg-container {
        order: 2;
    }

    /* -- FOOTER ---------------------------------------------------------------------- */

    footer {
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;

    }

    .footer-block {
        padding-bottom: 4rem;
    }

}