 :root {
     font-size: 10px;
     --black: #000000;
     --white: #FFFFFF;
     --grey: #E5E5E5;
     --size: 10px;
 }

 body {
     /* width: 100vw; */
     width: 100%;
     max-width: 1620px;
     margin: 0 auto;
     padding: 0;
     font-family: 'Rosario', sans-serif;
     font-style: italic;
     font-weight: 700;
 }

 ul {
     margin: 0;
     padding: 0;
 }

 li {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .flex {
     display: flex;
 }

 /* -- HEADER ---------------------------------------------------------------------- */

 header {
     box-sizing: border-box;
     min-width: 100%;
     height: 11.94vh;
     background: var(--black);
     justify-content: space-between;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 2;
     padding-right: 28px;
 }

 .logo {
     height: 11.94vh;
     width: auto;
 }

 header,
 header a {
     color: #FFFCFC;
 }

 /* -- mobile-nav ------------------------------ */

 .nav-mobile {
     display: none;
 }

 .list-menu {
     display: flex;
     list-style: none;
     background: var(--black);
 }

 .list-menu>li>a {
     display: block;
     padding: 5px 15px;
 }

 #btn-menu {
     display: none;
 }

 #btn-menu+label {
     display: none;
     position: relative;
     height: 20px;
     z-index: 0;
     cursor: pointer;
 }

 #btn-menu+label:before {
     content: '\f0c9';
     display: inline-block;
     position: absolute;
     right: 0;
     top: 3.5vh;
     font-family: 'FontAwesome';
     font-size: 6rem;
 }

 /* -- big-nav --------------------------------- */

 .nav {
     justify-content: end;
     gap: 3.15vw;
 }

 .nav a {
     display: flex;
     align-items: center;
     height: 11.94vh;
     font-size: 3.6rem;
     line-height: 4.4rem;
 }

 /* -- PAGE-1 ---------------------------------------------------------------------- */

 .page {
     /* min-width: 100vw; */
     min-width: 100%;
     min-height: 88.06vh;
 }

 .page-1 {
     box-sizing: border-box;
     padding: 6.57vh 2.40vw 5.93vh 2.40vw;
     justify-content: space-between;
     align-items: center;
 }

 .page-1 .p1-img {
     border-radius: 40px;
 }

 .p1-img {
     overflow: hidden;
 }

 .page-1>.p1-img {
     max-width: 19.27%;
     max-height: 75.56vh;

 }

 .four-img {
     width: 49.48%;
     height: 75.56vh;
     justify-content: space-between;
     align-content: space-between;
     flex-wrap: wrap;
 }

 .four-img>.p1-img {
     max-width: 48.95%;
 }

 .top-img {
     max-height: 50.25%;
 }

 .bottom-img {
     max-height: 44.61%;
 }

 .four-img>.left {
     animation: mediaLeft1 1s linear 1;
 }

 .four-img>.right {
     animation: mediaRight1 1s linear 1;
 }

 .page-1>.left {

     animation: mediaLeft2 2s linear 1;

 }

 .page-1>.right {

     animation: mediaRight2 2s linear 1;

 }

 @keyframes mediaLeft1 {
     from {
         transform: translateX(-50vw);
     }

     to {
         transform: translateX(0);
     }
 }

 @keyframes mediaLeft2 {

     from {
         transform: translateX(-50vw);
     }

     50% {
         transform: translateX(-50vw);
     }

     to {
         transform: translateX(0);
     }
 }

 @keyframes mediaRight1 {
     from {
         transform: translateX(50vw);
     }

     to {
         transform: translateX(0);
     }

 }

 @keyframes mediaRight2 {
     from {
         transform: translateX(50vw);
     }

     50% {
         transform: translateX(50vw);
     }

     to {
         transform: translateX(0);
     }

 }

 /* -- PAGE-2 ---------------------------------------------------------------------- */

 .circles-container {
     width: 50.78%;
     box-sizing: border-box;
     padding: 3.52vh 4.48vw 3.52vh 2.45vw;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .circle-item {
     max-width: 35.90%;
 }

 .circle-item:nth-of-type(1) {
     animation: first 10s linear infinite;
 }

 .circle-item:nth-of-type(2) {
     animation: second 10s linear infinite;
 }

 .circle-item:nth-of-type(3) {
     animation: fourth 10s linear infinite;
 }

 .circle-item:nth-of-type(4) {
     animation: third 10s linear infinite;
 }

 .circle-img {
     width: 100%;
 }

 .circle-title {
     font-size: min(2.50vw, 4.44vh);
     line-height: min(3.02vw, 5.37vh);
     text-align: center;
 }

 .bgd-img {
     min-width: 49.22%;
     min-height: 88.06vh;
     background: no-repeat url("../img/p2_img5.png");
     background-position: bottom 0 right 0;
     background-size: cover;
 }


 @keyframes first {

     from,
     to {
         transform: translateX(0);
     }

     25% {
         transform: translateX(180%);
     }

     50% {
         transform: translateX(180%) translateY(100%);
     }

     75% {
         transform: translateX(0) translateY(100%);
     }
 }

 @keyframes second {

     from,
     to {
         transform: translateY(0);
     }

     25% {
         transform: translateY(100%);
     }

     50% {
         transform: translateX(-180%) translateY(100%);
     }

     75% {
         transform: translateX(-180%) translateY(0);
     }
 }


 @keyframes third {

     from,
     to {
         transform: translateX(0);
     }

     25% {
         transform: translateX(-180%);
     }

     50% {
         transform: translateX(-180%) translateY(-100%);
     }

     75% {
         transform: translateX(0) translateY(-100%);
     }
 }

 @keyframes fourth {

     from,
     to {
         transform: translateX(0);
     }

     25% {
         transform: translateY(-100%);
     }

     50% {
         transform: translateX(180%) translateY(-100%);
     }

     75% {
         transform: translateX(180%) translateY(0);
     }
 }

 /* -- PAGE-3 ---------------------------------------------------------------------- */

 .page-3 {
     flex-direction: column;
     box-sizing: border-box;
     padding: 1.20vh 3.44vw 3.06vh 3.44vw;
     justify-content: space-between;
 }

 .p3-title {
     font-style: normal;
     font-weight: 700;
     font-size: 9.6rem;
     line-height: 11.6rem;
     color: var(--black);
     text-align: center;
 }

 .team-container {
     width: 100%;
     justify-content: space-between;
     min-height: 62.69vh;
 }

 .team-container:hover .team-unit {
     filter: brightness(0.5);
 }

 .push {
     display: none;
     width: 100%;
     height: 0;
 }

 .team-unit {
     /* width: 20.63vw; */
     width: 21.94%;
     height: 62.69vh;
     border-radius: 40px;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     border-radius: 40px;
     position: relative;
     transition: all 500ms;
 }

 .unit-name {
     width: 100%;
     position: absolute;
     bottom: 0;
     background: rgba(163, 83, 10, 0.7);
     border-radius: 0 0 40px 40px;
     justify-content: center;
     align-items: center;
     font-family: 'Volkhov';
     font-style: normal;
     font-weight: 400;
     font-size: 4.8rem;
     line-height: 6.2rem;
     color: #FFFAFA;
     height: 0;
     overflow: hidden;
     transition: all 500ms;
 }

 .team-unit:hover .unit-name {
     height: 22.90%;
 }

 .team-unit:hover {
     filter: none !important;
 }

 .team-unit:nth-of-type(1) {
     background-image: url("../img/p3_img1.png");
 }

 .team-unit:nth-of-type(2) {
     background-image: url("../img/p3_img2.png");
 }

 .team-unit:nth-of-type(4) {
     background-image: url("../img/p3_img3.png");
 }

 .team-unit:nth-of-type(5) {
     background-image: url("../img/p3_img4.png");
 }

 /* -- PAGE-4 ---------------------------------------------------------------------- */

 .page-4 {
     min-height: 66.11vh;
     box-sizing: border-box;
     padding: 0 8.44vw 3.75vh 8.44vw;
     justify-content: space-between;
     align-items: flex-end;
 }

 .msg-container {
     flex-direction: column;
     height: 54.63vh;
     justify-content: space-between;
 }

 .msg-title {
     width: 80%;
     text-align: center;
     font-size: 6.4rem;
     line-height: 7.8rem;
     color: var(--black);
     align-items: center;
     padding-bottom: 1.6vh;
 }

 .msg-form {
     box-sizing: border-box;
     flex-wrap: wrap;
     width: 48.75vw;
     height: 37.04vh;
     background: var(--grey);
     text-transform: capitalize;
     font-style: normal;
     font-size: 3.6rem;
     line-height: 4.4rem;
     justify-content: center;
     align-items: center;
 }

 .input-container {
     width: 93.80%;
     height: 20%;
     justify-content: space-between;
 }

 ::placeholder {
     font-family: 'Rosario';
     font-style: normal;
     font-weight: 700;
     font-size: 3.6rem;
     line-height: 4.4rem;
     color: rgba(0, 0, 0, 0.5);
     text-transform: capitalize;

     padding-left: 10px;
 }

 input {
     height: 100%;
     box-sizing: border-box;
     padding: 0;
     border: none;
     font-family: 'Rosario';
     font-style: normal;
     font-weight: 700;
     font-size: 3.6rem;
     line-height: 4.4rem;
     color: var(--black);

 }

 .input-name {
     width: 42.89%;
 }

 .input-email {
     width: 51.42%;
 }

 .msg-text {
     width: 93.91%;
     height: 52.25%;
     box-sizing: border-box;
     padding: 0;
     padding-left: 5px;
     border: none;
     font-size: 3.6rem;
     line-height: 4.4rem;
 }

 iframe {
     width: 32.60vw;
     height: 52.78vh;
 }

 /* -- FOOTER ---------------------------------------------------------------------- */

 footer {
     min-height: 21.95vh;
     box-sizing: border-box;
     padding: 0 10.42vw 1.51vh 10.42vw;
     justify-content: space-between;
     align-items: flex-end;
     font-weight: 600;
     font-size: 3rem;
     line-height: 3.6rem;
 }

 .footer-block {
     text-align: center;
 }

 .contacts {
     font-style: normal;
     font-weight: 700;
 }

 .footer-block a {
     color: var(--black);
 }

 .footer-block a>img {
     max-height: 2.5rem;
 }

 .schedule-title {
     font-style: normal;
     font-weight: 700;
     font-size: 3.6rem;
     line-height: 4.4rem;
 }